.app {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  box-shadow: inset 1px 1px 10px black;
  min-height: 100vh;
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(255, 255, 255);
  gap: 2px;
  margin: 0 auto;
}
.app::-webkit-scrollbar {
  width: 5px;
}
.app::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}
.app::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
h2 {
  font-size: 2rem;
  color: #000;
  height: 100px;
  place-content: center;
  text-align: center;
  grid-column: 1/4;
}
.nested {
  border-radius: 10px;
  background-color: rgb(58, 15, 15);
  padding: 5px 10px;
}
h1 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
h1::selection {
  background-color: transparent;
}
p {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgb(212, 212, 212);
}
p::selection {
  background-color: transparent;
}
.input-get {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 70px;
  width: 100%;
  gap: 1rem;
  grid-column: 1/4;
}
.input-get input {
  width: 50%;
  padding: 0 1rem;
  border: 1px solid black;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  height: 35px;
}
.input-get button {
  width: 150px;
  cursor: pointer;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(72, 72, 72);
  text-transform: uppercase;
  font-size: 1rem;
  height: 35px;
}
@media screen and (max-width: 860px) {
  .app {
    grid-template-columns: repeat(2, 1fr);
  }
  .input-get,
  h2 {
    grid-column: 1/3;
  }
}
@media screen and (max-width: 680px) {
  .app {
    row-gap: 0.8rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .input-get,
  h2 {
    grid-column: 1/2;
  }
  .input-get input {
    width: 100%;
  }
  .input-get button {
    width: 100px;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 400px) {
  .input-get {
    height: 100px;
    margin-bottom: 1.3rem;
    flex-direction: column;
  }
}
